@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 transition-colors duration-200;
  }
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}